
.custom-tooltip {
  background-color: #4CAF50; /* Fondo verde */
  color: white; /* Texto blanco */
  font-size: 16px; /* Tamaño de fuente personalizado */
  border-radius: 8px; /* Bordes redondeados */
  padding: 8px; /* Espaciado interno */
}

.titulo-compartir{
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  color: #636578;
}

.titulo-permiso{
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  color: #636578;
}

.titulo-botones{
  font-family: Inter;
  font-size: 15px;
  color: #636578;
}

.contenedor-usuarios{
  border-radius: 5px;
  width: 98%;
  box-shadow: 2px 2px 8px 2px #e6e6e6;
}

.buscar-usuario {
  font-family: Inter;
  font-size: 15px;
  background-color: white;
  border: 1px solid #BCBDC5;
  height: 40px;
  border-radius: 8px;
  color: #757575;
  font-weight: 500;
  padding-left: 10px;
}

.btn-añadir-usuario{
  font-family: Inter;
  font-size: 12px;
  height: 40px;
  color: white;
  background-color: #2E7895;
  border-radius: 8px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-exportar{
  border: 1px solid #DADDE2;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
}


.btn-cancelar{
  font-family: Inter;
  color: #757575;
  letter-spacing: 0.5px;
  border: 1px solid #C7CCD3;
  background-color: white;
  font-size: 14px;
  height: 40px;
}

.btn-crear{
  font-family: Inter;
  color: white;
  letter-spacing: 0.5px;
  border: none;
  background-color: #00BCD4;
  font-size: 14px;
  height: 40px;
}
