.btun2{
  /* height: 60px; */
  width: 150px;
  background-color: #2E7895;
  box-shadow: 1px 1px 7px 1px rgba(128, 128, 128, 0.507);
  border-radius: 10px;

}
.btun2:hover{
  background-color: #3a93b6;
  box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.599);

}
.texto{
  font-family: Inter;
  color: white;
  font-size: 14px;
  }
