.firma{
  font-family: Inter;
  font-size: 32px;
  color: #465666;
  font-weight: 500;
}

.contenedor-info{
  border: 0.5px solid #EDEDF0;
  box-shadow: 2px 2px 8px 2px #ceced0;
  border-radius: 10px;
}

.contenedor-firmados{
  background-color: #FFF6E5;
  color: #FDB528;
  border-radius: 10px;
}

.contenedor-firmar{
  background-color: #E5F8FE;
  color: #00BCD4;
  border-radius: 10px;
}

.numero{
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: #475767;

}

.info-de-numero{
  font-family: Inter;
  font-size: 14px;
  color: #88929D;
}

.tabla-documentos{
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  color: #465666;
}
th{
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #485562;
  background-color: #d9d9d9;
}
