<div class="container">
  <div class="table-responsive mt-3 table-bordered">
    <table class="table">
      <thead class="">
        <tr class="cabecera ">
          <th style="width: 10%"></th>
          <th style="width: 20%">Oficina</th>
          <th style="width: 10%">Exp. Activos</th>
          <th style="width: 10%">Documentos</th>
          <th style="width: 10%">Usuarios</th>
          <th style="width: 15%">Últ. Modif.</th>
          <th style="width: 10%">Estado</th>
          <th style="width: 15%">Acciones</th>
        </tr>
      </thead>
      <tbody >

        <tr  *ngFor="let carpeta of oficinasFiltradas; let i=index">
          <td>
            <div [routerLink]="['/dashboard/carpeta',carpeta.Cod]"
            (click)="clicCarpeta(carpeta.Cod)"
             class="busines me-2" [ngStyle]="{'background-color': getColor3(i), 'color': getColor(i)}">
              <mat-icon >business</mat-icon>
            </div>
          </td>
          <td class="text-truncate" style="max-width: 50px;">
            <span [title]="carpeta.Nombre" class="texto">{{carpeta.Nombre}}</span>
          </td>
          <td>
            <span class="texto">10</span>
          </td>
          <td>
            <span class="texto">250</span>
          </td>
          <td>
            <span class="texto">10</span>
          </td>
          <td>
            <span class="texto">Hace 2 días</span>
          </td>
          <td>
            <div class="activa-desactiva col-7 text-center">
              <span>Activa</span>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center">
              <mat-icon class="material-icons-outlined iconos me-1" style="color: #9A9BA8;">edit_outline</mat-icon>
              <mat-icon class="material-icons-outlined iconos me-1" style="color: #9A9BA8;">remove_red_eye</mat-icon>
            <mat-icon class="material-icons-outlined iconos" style="color: #9A9BA8;">settings</mat-icon>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
