<div class="container-fluid  vh-100" style="font-family: Inter ; background-color: #fdbe42;">
  <div class="row h-100">
    <div class="col-7 d-flex justify-content-center align-items-center " style="background-color: white; border-top-right-radius: 6%; border-bottom-right-radius: 6%;">
      <div class="d-flex flex-column" style="width: 55%;">
        <span class="text-bienvenido-a-nublu_3-336 mb-3 ">Recuperar contraseña</span>
        <span class="text-gestione-sus-documentos-de-forma-segura-_12-58 mb-3">Ingresa tu correo electrónico y te enviaremos
          un enlace para reestablecer tu contraseña.
        </span>

        <input type="text" class="form-control placeholder-gris mb-3" placeholder="Correo electrónico">

        <button class="save-product_3-338 " style="border: none;">
          <span class="text-ingresar_3-341">Ingresar</span>
        </button>

        <span class="text-recordarme_3-355 mt-3 text-center">
          ¿Recordaste tu contraseña? Inicia sesión <a routerLink="/auth/sign-in" style="color: #fdbe42;">aquí</a>.</span>
      </div>



    </div>
    <div class="col-5  position-relative"
      style="border-top-left-radius: 6%; border-bottom-left-radius: 6%; background-color: #fdbe42;">
      <div class=" d-flex flex-column align-items-end " style=" gap: 160px; z-index: 1;">
        <div class="" style="padding-top: 7%; margin-right: 7%;">
          <h1 class="text-nublu_12-45655">NUBLU</h1>
        </div>

        <div class="frame-1482_13-49382" style="width: 70%; margin-right: 7%; ">
          <span
            class="text-m-s-del-70--de-las-empresas-pierden-tiempo-buscando-documentos--con-nublu--cada-archivo-est--donde-debe-estar-_13-49383"><span
              class="fw-bold">El 40% de los usuarios olvidan sus contraseñas cada mes.</span> No
              se preocupe, aquí lo solucionamos rápido.</span>
        </div>

        <div class="frame-1483_12-45645" style="margin-left: 15%;">
          <a class="text-t-rminos-y-condiciones_12-45641">
            Términos y condiciones</a>
          <a class="text-pol-ticas-de-privacidad_12-45643" style="margin-right: 7%;">
            Políticas de privacidad</a>
        </div>


      </div>
    </div>
  </div>
