<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 mt-3">
      <!-- <app-buscador-generico placeHolder="Buscar en Usuarios..." (emitirModeloPresionando)="onBuscarUsuario($event)"></app-buscador-generico> -->
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-content-center">
            <table class="table  ">
              <thead class=" text-start ">
                <tr >
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Documento</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Estado</th>
                  <th scope="col">
                    <div style="overflow-x: auto; ">Rol</div>
                  </th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="usuarios">
                <tr *ngFor="let usuario of usuariosFiltrados" class="text-start">
                  <td class="estilosColumnas">{{ usuario.Nombres }}</td>
                  <td class="estilosColumnas">{{ usuario.Apellidos }}</td>
                  <td class="estilosColumnas">{{ usuario.Telefono }}</td>
                  <td class="estilosColumnas">{{ usuario.Documento }}</td>
                  <td class="estilosColumnas">{{ usuario.Usuario }}</td>
                  <td class="estilosColumnas  ">
                    <span class="estado">{{ usuario.DescripcionEstado }}</span>
                  </td>
                  <td class="estilosColumnas">
                    <div style="white-space: nowrap; overflow-x: auto; max-width: 150px;">
                      <!-- {{ obtenerNombresRoles(usuario.RolesUsuario!) || 'No tiene Roles' }} -->
                      {{ usuario.RolesUsuario ? obtenerNombresRoles(usuario.RolesUsuario) : 'No tiene Roles' }}
                    </div>
                  </td>
                  <td class="estilosColumnas">   <!-- Botón para modificar -->
                    <button class="btn  me-2"
                    (click)="openUserModal(usuario)"
                    title="Modificar usuario">
                     <mat-icon class="material-icons-outlined" style="color: #475767;  font-size: 22px;">
                      edit_outlined</mat-icon>
                    </button>

                    <!-- Botón para eliminar -->

                    <button class="btn me-2"
                     (click)="eliminarUsuario(+usuario.Cod!)"
                     title="Eliminar usuario">
                      <mat-icon class="material-icons-outlined" style="color: #475767; font-size: 22px;">
                        delete_outline_outlined</mat-icon>
                    </button>

                    <button class="btn"
                    *ngIf="usuario.Estado === true"
                    title="Deshabilitar usuario"
                    (click)="modificarEstadoUsuario(usuario)">
                      <mat-icon class="material-icons-outlined" style="color: #475767; font-size: 22px;">
                        hide_source_outlined</mat-icon>
                    </button>

                    <button class="btn"
                    *ngIf="usuario.Estado === false"
                    title="Habilitar usuario"
                    (click)="modificarEstadoUsuario(usuario)">
                    <mat-icon class="material-icons-outlined" style="color: #475767; font-size: 22px;">
                      account_circle_outlined</mat-icon>

                    </button>
                  </td>


                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>






