<div *ngIf="isLoading" class="loading-screen vh-100  w-100 fondo2">
  <span class="loader"></span>
</div>


<div class="container-fluid " *ngIf="!isLoading"  >
  <div class="row">
    <div class="col-2  vh-100" style="background-color: #ffff;">
      <div class=" d-flex  justify-content-between mt-3 ms-4">
        <span class="nublu " >NUBLU</span>
        <span class=" text-center" style="align-self: flex-end;" ><mat-icon class="flecha-esconder">keyboard_double_arrow_left</mat-icon></span>
      </div>

      <app-opciones></app-opciones>

    </div>
    <div class="col-10  vh-100" style="background-color: #F7F7F9; overflow-y: hidden;" >
      <div class="d-flex align-items-center justify-content-evenly">
        <div class="w-50">
          <app-buscador></app-buscador>
        </div>
        <span class="gestor-documental">Gestor documental</span>

        <div>
          <button class="btn">
            <mat-icon class="material-icons-outlined" style="color: #465666a0;">settings</mat-icon>
          </button>
          <button class="btn">
            <mat-icon class="" style="color: #465666a0;">
              notifications
            </mat-icon>
          </button>
        </div>


        <button class=" cerrar-sesion" (click)="onLogout()">
          CERRAR SESIÓN
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
