.indice-electronico{
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  color: #636578;
}


.btn-descargar{
  background-color: #205468;
  border-radius: 10px;
}

.texto-btn{
  font-family: Inter;
  font-size: 13px;
  color: white;

}

th{
  font-family: Inter;
  font-size: 12px;
  color: #445464;
  background-color: #E4E4E4;
}

td{
  font-family: Inter;
  font-size: 11px;
  color: #445464;
}

.indice{
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  color: #205468;

}
