<div class="container-fluid">
  <div class="d-flex align-items-center justify-content-between mt-5 p-3">
    <div>
      <span class="indice-electronico">ÍNDICE ELECTRÓNICO</span>
    </div>



    <div class="d-flex align-items-center">
      <button class="btn btn-descargar d-flex align-items-center me-4">
        <span class="texto-btn me-2">EXCEL</span>
        <mat-icon class="" style="color: white;">download_for_offline</mat-icon>
      </button>

      <button class="btn  btn-descargar d-flex align-items-center ">
        <span class="texto-btn me-2">CSV</span>
        <mat-icon style="color: white;">download_for_offline</mat-icon>
      </button>
    </div>
  </div>

  <div class="p-3">
    <mat-divider style="border-top-color: #c4c4c4;"></mat-divider>
  </div>

  <div *ngIf="contenidoCarpeta?.contenido?.length === 0" class="d-flex flex-column justify-content-center align-items-center">
    <img src="assets/iconos/indiceVacio.png" alt="IndiceVacio" height="300" width="300">
    <span class="indice">El indice esta vacio</span>
  </div>

  <div class="p-3" *ngIf="contenidoCarpeta && contenidoCarpeta.contenido && contenidoCarpeta.contenido.length>0">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 9%;">Id</th>
          <th style="width: 10%;">Nombre Documento</th>
          <th style="width: 5%;">Tipologia Documental</th>
          <th style="width: 10%;">Fecha Declaración Documento</th>
          <th style="width: 10%;">Fecha Incorporación Expediente</th>
          <th style="width: 10%;">Valor Huella</th>
          <th style="width: 5%;">Función Resumen</th>
          <th style="width: 5%;">Orden Documento Expediente</th>
          <th style="width: 5%;">Pagina Inicio</th>
          <th style="width: 5%;">Pagina Fin</th>
          <th style="width: 8%;">Formato</th>
          <th style="width: 8%;">Tamaño</th>
          <th style="width: 10%;">Origen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contenido of contenidoCarpeta.contenido; let i = index">
          <td >11223344556677889{{contenido.Cod}}</td>
          <td>{{contenido.Nombre}}</td>
          <td>Contrato</td>
          <td>25-02-2025</td>
          <td>01-03-2025</td>
          <td>TLFRNZPLI6389</td>
          <td>MD5</td>
          <td>{{i+1}}</td>
          <td>1</td>
          <td>4</td>
          <td>PDF/A</td>
          <td>50 KB</td>
          <td>Digital</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--         <tr>
          <td >112233445566778899AB</td>
          <td>Contrato #145</td>
          <td>Contrato</td>
          <td>25-02-2025</td>
          <td>01-03-2025</td>
          <td>TLFRNZPLI6389</td>
          <td>MD5</td>
          <td>1</td>
          <td>1</td>
          <td>4</td>
          <td>PDF/A</td>
          <td>50 KB</td>
          <td>Digital</td>
        </tr>
        <tr>
          <td >112233445566778899AB</td>
          <td>Contrato #145</td>
          <td>Contrato</td>
          <td>25-02-2025</td>
          <td>01-03-2025</td>
          <td>TLFRNZPLI6389</td>
          <td>MD5</td>
          <td>1</td>
          <td>1</td>
          <td>4</td>
          <td>PDF/A</td>
          <td>50 KB</td>
          <td>Digital</td>
        </tr>
        <tr>
          <td >112233445566778899AB</td>
          <td>Contrato #145</td>
          <td>Contrato</td>
          <td>25-02-2025</td>
          <td>01-03-2025</td>
          <td>TLFRNZPLI6389</td>
          <td>MD5</td>
          <td>1</td>
          <td>1</td>
          <td>4</td>
          <td>PDF/A</td>
          <td>50 KB</td>
          <td>Digital</td>
        </tr> -->
