div {
  min-height: 100vh; /* Asegura que tome al menos el 100% de la altura de la ventana */
  /* background-image: url('/assets/fondo/fondo5.jpg'); */
  background-image: url('assets/fondo/fondo5min.jpg');

  background-repeat: no-repeat;
  background-size: cover ;
   /* Permite que crezca según el contenido */

}

@media (max-width: 960px) and (max-height: 540px) and (orientation: landscape) {

  div {
    background-image: url('assets/fondo/fondo5min.jpg');
    /* Nuevo color cuando las dimensiones son 844x390 */
    height: 200vh; /* Asegura que crezca según el contenido */
  }
}


