<!-- <div class="">
  <div class="ms-3 mt-2" *ngIf="carpetas.length !== 0">
    <h4>Carpetas</h4>

  </div>
</div> -->
    <!-- <ng-container *ngFor="let carpeta of carpetasFiltradas">
      <div class="col-md-2">
        <div class="btun d-flex flex-column justify-content-between align-items-end"
             (contextmenu)="onContextMenu($event, carpeta.Cod)">
          <input type="checkbox" class="form-check-input">

          <button class="btn btun"

                  [routerLink]="['/dashboard/carpeta',carpeta.Cod]"
                  [state]="{ carpetaHija: carpeta }"
                  (click)="onCarpetaClick(carpeta)">
            <img class="mt-2" src="assets/imgs/carpeta-vacia2.png" alt="archivo" width="100" height="100">
            <h4 class="mt-2 mb-0 texto" [title]="carpeta.Nombre">{{carpeta.Nombre}}</h4>
          </button>
        </div>
      </div>
    </ng-container> -->
<div *ngIf="tipoVista==='cuadricula'">
  <div class="row g-4">
    <div class="col-md-2" *ngFor="let carpeta of carpetasFiltradas; let i = index" style="width: 25%; ">
      <div class="card" >
      <div class="card-header d-flex justify-content-between align-items-center p-3 " style="cursor: pointer;"
      (contextmenu)="onContextMenu($event, carpeta.Cod)"
      [routerLink]="['/dashboard/carpeta',carpeta.Cod]"
      [state]="{ carpetaHija: carpeta }"
      (click)="onCarpetaClick(carpeta)">

        <div class="carpeta-icono d-flex align-items-center justify-content-center">
          <mat-icon style="color: #02BCD4;">folder_open</mat-icon>
        </div>
        <div class="cuarenta-archivos-contenedor d-flex align-items-center justify-content-center">
          <span class="cuarenta-archivos">40 archivos</span>
        </div>

          <div class="avatar-group">
            <div class="avatar">
              OP
            </div>
            <div class="avatar">
              OP
            </div>
            <div class="avatar">
              OP
            </div>
            <div class="avatar more">
              +3
            </div>
          </div>

      </div>
      <div class="card-body d-flex flex-column" style="background-color: #00BCD4;">
        <span class="carpeta-nombre">{{carpeta.Nombre}}</span>
        <span class="modificacion mt-1">última modificación hace 2 dias</span>
        <span class="modificacion mt-1">Fecha de creación {{carpeta.FechaCreacion | date}}</span>
        <mat-divider class="division mt-2"></mat-divider>
        <div class="d-flex justify-content-between mt-2">
          <button class="btn" (click)="openCompartir()">
            <mat-icon  style="color: white">share</mat-icon>
          </button>

          <button class="btn" (click)="openDescargar()">
            <mat-icon  style="color: white">download</mat-icon>
          </button>
          <button class="btn" (click)="openEditar()">
            <mat-icon  style="color: white">drive_file_rename_outline</mat-icon>
          </button>
          <button class="btn">
            <mat-icon  style="color: white">drive_file_move</mat-icon>
          </button>
          <button class="btn"
           data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRightLabel">
            <mat-icon  style="color: white">dehaze</mat-icon>
          </button>
        </div>
        <div>

        </div>
      </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="tipoVista === 'lista'" class="container">
  <div class="table-responsive mt-3 table-bordered">
    <table class="table">
      <thead >
        <tr style="border: none;">
          <th>Expediente</th>
          <th>Fecha Creación</th>
          <th>Oficina</th>
          <th>Responsable</th>
          <th>Tipo de expediente</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carpeta of carpetasFiltradas; let i = index">
          <td>
            <div class="d-flex align-items-center "
            style="cursor: pointer;" [routerLink]="['/dashboard/carpeta',carpeta.Cod]"
            [state]="{ carpetaHija: carpeta }"
            (click)="onCarpetaClick(carpeta)"
            [ngStyle]="{'color': getColor(i)}"
            (contextmenu)="onContextMenu($event, carpeta.Cod)">
              <mat-icon style="font-size: 35px; height: 35px; width: 35px;">folder_copy_two_tone</mat-icon>
              <span class="nombre-lista ms-2">{{carpeta.Nombre}}</span>
            </div>
          </td>
          <td>
            <span class="nombre-lista">{{carpeta.FechaCreacion|date:'yyyy-MM-dd'}}</span>
          </td>
          <td>
            <span class="nombre-lista">Recursos Humanos</span>
          </td>
          <td>
            <span class="nombre-lista">Usuario 1</span>
          </td>
          <td>
            <span class="nombre-lista">Contrato</span>
          </td>
          <td>
            <span class="nombre-lista">{{carpeta.Estado}}</span>
          </td>
          <td>
            <div class="d-flex justify-content-between mt-2">
              <button class="btn p-0 m-0" (click)="openCompartir()">
                <mat-icon  style="color: #475767">share</mat-icon>
              </button>
              <button  class="btn p-0 m-0" (click)="openDescargar()">
                <mat-icon  style="color: #475767">download</mat-icon>
              </button>

              <button class="btn p-0 m-0" (click)="openEditar()">
                <mat-icon  style="color: #475767">drive_file_rename_outline</mat-icon>
              </button>
              <button class="btn p-0 m-0">
                <mat-icon  style="color: #475767">drive_file_move</mat-icon>
              </button>
              <button class="btn p-0 m-0"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRightLabel">
                <mat-icon  style="color: #475767">dehaze</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--   [class.carpeta-cortar]="(hayCarpetaSeleccionada && carpeta.Cod === carpetaParaCortar) ||
                                        (hayCarpetaSeleccionada && carpeta.Cod === carpetaParaCopiar)" -->
