<div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <span class="titulo-compartir mt-5">Descargar</span>
    <span class="subtitulo-descargar">Seleccione el formato</span>
  </div>

  <div class="d-flex align-items-center justify-content-center mt-2">
    <mat-icon class="me-2" style="color: #475767;">picture_as_pdf</mat-icon>
    <span class="texto-opciones-descarga">PDF (índice de documentos) | </span>
    <mat-icon class="me-2 ms-2" style="color: #475767;">file_copy</mat-icon>
    <span class="texto-opciones-descarga">Formato ZIP</span>
  </div>

  <div class="d-flex justify-content-center mt-4" >
    <button type="button" class="btn btn-cancelar me-2">CANCELAR</button>
    <button type="button" class="btn btn-crear " >DESCARGAR</button>
  </div>
</div>
