<div class="container-fluid d-flex flex-column h-100 overflow-x-hidden overflow-y-auto contenedor">

  <div>

    <div class="row  d-flex justify-content-between">
      <app-loader-personalizado></app-loader-personalizado>

      <div class="col-7 d-flex align-items-center mt-3 ms-3   ">
        <a class="ruta me-2 mt-1 fs-5" [routerLink]="['/dashboard']">Mis archivos</a><img
          src="assets/imgs/flechas-a-la-derecha.png" alt="" height="20">
        <a href=""></a>
      </div>



      <app-btn-subir-archivo
      [carpetaId]="id"
      [mostrarBoton]="esSerieOSubserie">
      </app-btn-subir-archivo>

      <div class="col-2 mt-3 " *ngIf="puedeCrearCarpetas">
        <dashboard-btn-mas></dashboard-btn-mas>
      </div>
    </div>
    <!--  -->
    <div *ngIf="carpetaContenido.length === 0 && DocumentoContenido.length === 0">
      <div class="col-12 d-flex justify-content-center mt-5">
        <img src="assets/imgs/vacia.png" alt="imagen Vacia" height="300" width="400">
      </div>

      <h3 class="d-flex justify-content-center texto3">La carpeta esta vacia</h3>
    </div>


    <app-carpetas-contenido
    [carpetas]="carpetaContenido"
    [rolesUsuario]="rolesUsuario"
    (contextMenu)="mostrarMenuContextual($event.event, $event.carpeta)">
  </app-carpetas-contenido>


  <app-archivos-contenido
  [archivos]="DocumentoContenido">
</app-archivos-contenido>



    <!-- Menú contextual -->
    <app-menu-contextual
      [visible]="menuVisible"
      [posX]="menuPosX"
      [posY]="menuPosY"
      [carpetaSeleccionada]="carpetaSeleccionada"
      [permisoCortar]="!habilitarOpcionCortar"
      [permisoCopiar]="!habilitarOpcionCopiar"
      [permisoPegar]="!habilitarParaPegar"
      [permisoEliminar]="!habilitarOpcionEliminar"
      [hayCarpetaSeleccionada]="hayCarpetaSeleccionada"
      [submenuPosition]="submenuPosition"
      (cerrarMenu)="ocultarMenuContextual()"
      (verDetalles)="verDetalles($event)"
      (cortar)="cortarCarpeta($event)"
      (copiar)="copiarCarpeta($event)"
      (pegar)="pegarCarpeta($event)"
      (eliminar)="eliminarCarpeta($event)"
      (cancelar)="eliminarAccion()">
    </app-menu-contextual>


    <app-detalles-carpeta
    [carpetaSeleccionada]="carpetaSeleccionada">
    </app-detalles-carpeta>


    <!-- carpetas opciones -->
<!--     [hayCarpetaSeleccionada]="hayCarpetaSeleccionada"
    [carpetaParaCortar]="carpetaParaCortar"
    [carpetaParaCopiar]="carpetaParaCopiar" -->
