<div class="container-fluid d-flex flex-column " style="height: 90% !important;">
  <div class="d-flex justify-content-between mt-3 ">
    <div class="row w-100 position-relative">
      <!-- Loader centralizado -->
      <app-loader-personalizado class="position-absolute"></app-loader-personalizado>

      <div class="d-flex ">

        <div class="col-4  d-flex flex-column">
          <span class="gestion">Gestión de expedientes</span>
          <!-- <span class="nombre-carpeta">{{carpetaActual.Nombre}}</span> -->
        </div>
        <div class="col-8 d-flex justify-content-end">
          <div class="col-7">
            <app-buscador-generico placeHolder="Buscar en expediente"></app-buscador-generico>
          </div>

          <div class="col-3 d-flex justify-content-end" >
            <div>
              <button class="btn pt-1 btn1 rounded-start-3"
              (click)="tipoVista = 'cuadricula'" [class.active]="tipoVista === 'cuadricula'"
               title="Elementos en cuadricula">
                <mat-icon class="icono-grid">grid_view_outlined</mat-icon>
              </button>
            </div>
            <div>
              <button type="button" class=" btn btn1 rounded-end-3 pt-1"
              (click)="tipoVista = 'lista'" [class.active]="tipoVista === 'lista'"
              title="Elementos en lista">
              <mat-icon class="icono-grid">format_list_bulleted_outlined</mat-icon>
              </button>
            </div>
          </div>

        </div>
        </div>
      <!-- Navegación izquierda -->
      <div class="col-8 d-flex align-items-center mt-3  " style="overflow-x: auto; white-space: nowrap;">
        <!-- <a class="ruta me-2 mt-1 fs-5" [routerLink]="['/dashboard']">Mis archivos</a>
        <img src="assets/imgs/flechas-a-la-derecha.png" alt="" height="20" width="20" class="me-2">
        <a *ngFor="let rutaNavegada of ruta">Carpeta {{rutaNavegada}}-</a> -->
        <button class="btn d-flex align-items-center">
          <mat-icon style="color: #9192A0; font-size: 20px;">dashboard</mat-icon>
          <span class="texto-ruta">Tablero de inicio</span>
        </button>

         <mat-icon style="color: #9192A0;  font-size: 20px;">keyboard_arrow_right</mat-icon>

         <button class="btn d-flex align-items-center">
          <mat-icon style="color: #9192A0; font-size: 20px;">business</mat-icon>
          <span class="texto-ruta">Recursos Humanos</span>
         </button>

         <mat-icon style="color: #9192A0; font-size: 20px;">keyboard_arrow_right</mat-icon>

         <button class="btn d-flex align-items-center">
          <mat-icon style="color: #9192A0; font-size: 20px;">folder_open</mat-icon>
          <span class="texto-ruta">Contratos</span>
         </button>
      </div>

      <!-- Botones derecha -->
      <div class="col-4 d-flex justify-content-end align-items-center mt-3">
        <ng-container >
          <div class="d-flex gap-3 align-items-center me-3 ">
            <app-btn-subir-archivo *ngIf="puedeSubirArchivos"
              [carpetaId]="id"
              [mostrarBoton]="NoEsSerieOSubserie">
            </app-btn-subir-archivo>

            <div *ngIf="puedeCrearCarpetas">
              <dashboard-btn-mas [noEsSerieOSubserie]="NoEsSerieOSubserie"></dashboard-btn-mas>
            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="flex-grow-1 overflow-x-hidden contenedor  mt-4" style="height: 50px; overflow-y: auto;">
    <div class=" col-12" *ngIf="carpetaContenido.length === 0 && DocumentoContenido.length === 0">
      <div class="col-12 d-flex justify-content-center mt-5">
        <img src="assets/imgs/vacia.png" alt="imagen Vacia" height="300" width="400">
      </div>
      <h3 class="d-flex justify-content-center texto3">La carpeta esta vacia</h3>
  </div>

    <div class="" *ngIf="carpetaContenido.length > 0" >
      <app-carpetas-contenido
      [tipoVista]="tipoVista"
      [carpetas]="carpetaContenido"
      [rolesUsuario]="rolesUsuario"
      (contextMenu)="mostrarMenuContextual($event.event, $event.cod)"
      (carpetaClick)="manejarCarpetaClick($event)">

      </app-carpetas-contenido>
    </div>

      <div class=" mt-4" *ngIf="DocumentoContenido.length > 0">
        <app-archivos-contenido
        [tipoVista]="tipoVista"
        [archivos]="DocumentoContenido">
        </app-archivos-contenido>
      </div>

    </div>


</div>
  <!-- Menú contextual -->
    <app-menu-contextual
      [visible]="menuVisible"
      [posX]="menuPosX"
      [posY]="menuPosY"
      [carpetaSeleccionada]="carpetaSeleccionada"
      [permisoEliminar]="habilitarOpcionEliminar"
      [permisoCortar]="habilitarOpcionCortar"
      [permisoPegar]="habilitarOpcionPegar"
      [permisoCopiar]="habilitarOpcionCopiar"
      [hayCarpetaSeleccionada]="hayCarpetaSeleccionada"
      [submenuPosition]="submenuPosition"
      (cerrarMenu)="ocultarMenuContextual()"
      (cortar)="cortarCarpeta($event)"
      (copiar)="copiarCarpeta($event)"
      (pegar)="pegarCarpeta($event)"
      (eliminar)="eliminarCarpeta($event)"
      (verDetalles)="verDetalles($event)"
      (cancelar)="eliminarAccion()">
    </app-menu-contextual>

<!--  (verDetalles)="verDetalles(carpetaSeleccionada)" -->
    <app-detalles-carpeta
    [carpetaSeleccionada]="carpetaSeleccionada">
    </app-detalles-carpeta>
