<div class="container-fluid d-flex flex-column h-100 overflow-x-hidden overflow-y-auto contenedor">

  <div>

    <div class="row w-100 position-relative">
      <!-- Loader centralizado -->
      <app-loader-personalizado class="position-absolute"></app-loader-personalizado>

      <!-- Navegación izquierda -->
      <div class="col-6 d-flex align-items-center mt-3">
        <a class="ruta me-2 mt-1 fs-5" [routerLink]="['/dashboard']">Mis archivos</a>
        <img src="assets/imgs/flechas-a-la-derecha.png" alt="" height="20" width="20" class="me-2">
      </div>

      <!-- Botones derecha -->
      <div class="col-6 d-flex justify-content-end align-items-center mt-3">
        <ng-container *ngIf="esSerieOSubserie || puedeCrearCarpetas">
          <div class="d-flex gap-3 align-items-center me-3">
            <app-btn-subir-archivo
              [carpetaId]="id"
              [mostrarBoton]="esSerieOSubserie">
            </app-btn-subir-archivo>

            <div *ngIf="puedeCrearCarpetas">
              <dashboard-btn-mas></dashboard-btn-mas>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <!--  -->
    <div *ngIf="carpetaContenido.length === 0 && DocumentoContenido.length === 0">
      <div class="col-12 d-flex justify-content-center mt-5">
        <img src="assets/imgs/vacia.png" alt="imagen Vacia" height="300" width="400">
      </div>

      <h3 class="d-flex justify-content-center texto3">La carpeta esta vacia</h3>
    </div>


    <app-carpetas-contenido
    [carpetas]="carpetaContenido"
    [rolesUsuario]="rolesUsuario"
    (contextMenu)="mostrarMenuContextual($event.event, $event.carpeta)">
  </app-carpetas-contenido>


  <app-archivos-contenido
  [archivos]="DocumentoContenido">
</app-archivos-contenido>



    <!-- Menú contextual -->
    <app-menu-contextual
      [visible]="menuVisible"
      [posX]="menuPosX"
      [posY]="menuPosY"
      [carpetaSeleccionada]="carpetaSeleccionada"
      [permisoCortar]="!habilitarOpcionCortar"
      [permisoCopiar]="!habilitarOpcionCopiar"
      [permisoPegar]="!habilitarParaPegar"
      [permisoEliminar]="!habilitarOpcionEliminar"
      [hayCarpetaSeleccionada]="hayCarpetaSeleccionada"
      [submenuPosition]="submenuPosition"
      (cerrarMenu)="ocultarMenuContextual()"
      (verDetalles)="verDetalles($event)"
      (cortar)="cortarCarpeta($event)"
      (copiar)="copiarCarpeta($event)"
      (pegar)="pegarCarpeta($event)"
      (eliminar)="eliminarCarpeta($event)"
      (cancelar)="eliminarAccion()">
    </app-menu-contextual>


    <app-detalles-carpeta
    [carpetaSeleccionada]="carpetaSeleccionada">
    </app-detalles-carpeta>


    <!-- carpetas opciones -->
<!--     [hayCarpetaSeleccionada]="hayCarpetaSeleccionada"
    [carpetaParaCortar]="carpetaParaCortar"
    [carpetaParaCopiar]="carpetaParaCopiar" -->
