
<!-- <app-ruta-navegacion [carpeta]="carpeta"></app-ruta-navegacion> -->
 <!--
[hijo]="'hijo1'"
                       [deshabilitado]="permisoService.permisoArrastrar(carpeta!,'write')"
                       [carpetaIdFocu]="carpeta!.id" -->
<!-- <app-arrastrar-soltar  > -->
  <div class="container-fluid d-flex flex-column h-100 overflow-x-hidden overflow-y-auto contenedor">
    <!-- *ngIf="carpeta" -->
    <div >

      <div class="row  d-flex justify-content-between">

        <div class="col-7 d-flex align-items-center mt-3 ms-3   ">
          <a class="ruta me-2 mt-1 fs-5" (click)="borrarTodaRuta()" [routerLink]="['/dashboard']">Mis archivos</a><img src="assets/imgs/flechas-a-la-derecha.png"alt="" height="20">
          <div *ngFor="let rutica of rutaService.guardarRuta()">
            <a class=" ruta fs-5" routerLinkActive="active" (click)="recortarRuta(rutica.id!)" [routerLink]="['/dashboard/carpeta',rutica.id]">{{rutica.nombre}}
              <img src="assets/imgs/flechas-a-la-derecha.png"alt="separador"height="20">
            </a>
          </div>
        </div>

        <!-- administrador || tienePermisoCrear() -->

        <div class="col-2 mt-3" *ngIf="puedeSubirArchivos">
          <label class="btn btun2 rounded-pill d-flex align-items-center">
            <img src="assets/imgs/archivoMas.png" alt="" >
            <span class="fs-5 ps-2">Subir Archivo</span>
            <!--  (change)="onFileSelected($event,carpeta.id,carpeta)" -->
            <input type="file" style="display: none;">
          </label>
        </div>
        <div class="col-2 mt-3 " *ngIf="puedeCrearCarpetas">
          <!-- [idPadre]="carpeta.id" -->
          <dashboard-btn-mas ></dashboard-btn-mas>
        </div>
      </div>
      <!-- *ngIf="carpeta.hijos?.length === 0" -->
      <div >
        <div class="col-12 d-flex justify-content-center mt-5">
          <img src="assets/imgs/vacia.png" alt="hola" height="300" width="400">
        </div>
        <!-- {{carpeta.nombre}} -->
        <h3 class="d-flex justify-content-center texto3">La carpeta {{carpeta?.nombre}} esta vacia</h3>
      </div>

      <div class="row d-flex justify-content-center mt-2 mb-2">

        <!--  *ngIf="carpetasSeleccion.length>0 || archivosSeleccion.length>0" -->
        <div class="col-6 opciones rounded-pill">
          <app-opciones-carpeta [carpetasSeleccionadas]="carpetasSeleccion" [archivosSeleccionados]="archivosSeleccion" >
          </app-opciones-carpeta>
        </div>
      </div>


<!-- *ngIf="tieneCarpetas()" -->
      <!-- <div class="ms-3" >
      <h4>Carpetas</h4>
      <div class="row g-5  ">
        <ng-container *ngFor="let hijo of carpeta!.hijos">
          <div class="col-md-2 " *ngIf="hijo.tipo === 'carpeta'">
            <app-arrastrar-soltar [carpetaIdFocu]="hijo.id">
              <div class="btun d-flex flex-column justify-content-between align-items-end ">

                <input
             type="checkbox"
             class="form-check-input"
             (change)="toggleCheckbox(hijo.id)"
             >

             <button class="btn btun " (click)="guardarRuta(hijo)" [routerLink]="['/dashboard/carpeta',hijo.id]">
              <img class="mt-2" src="/assets/imgs/carpeta-vacia2.png" alt="carpeta" width="100" height="100">
              <h4 class="mt-2 mb-0 texto" [title]="hijo.nombre">{{hijo.nombre }}</h4>
              <span class="texto2">{{hijo.fechaCreacion | date:'dd/MM/yyyy'}}</span>
            </button>
              </div>

            </app-arrastrar-soltar>

          </div>
        </ng-container>
      </div>
      </div> -->
<!-- *ngIf="tieneArchivos()" -->
      <!-- <div class="ms-3 mt-2"  >
        <h4>Archivos</h4>
        <div class="row g-5  ">
          <ng-container *ngFor="let archivo of carpeta!.hijos">
            <div class="col-md-2" *ngIf="archivo.tipo === 'archivo'">
              <div class="btun d-flex flex-column justify-content-between align-items-end ">

                <input
             type="checkbox"
             class="form-check-input"
             (change)="toggleCheckboxArchivo(archivo.id!)">

             <button class="btn btun ">
              <img class="mt-2" [src]="obtenerImagenPrevisualizacion(archivo)" alt="archivo" width="100" height="100">
              <h4 class="mt-2 mb-0 texto" [title]="archivo.nombre">{{archivo.nombre }}</h4>
              <span class="texto2">{{archivo.fechaCreacion | date:'dd/MM/yyyy'}}</span>
            </button>
              </div>

            </div>

          </ng-container>
        </div>
      </div> -->
    </div>
  </div>
<!-- </app-arrastrar-soltar> -->



<!-- [checked]="isChecked(archivo.id!)" -->
