.input-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon input {
  padding-left: 30px; /* Ajusta el padding para que no se superponga con el ícono */
}

.input-icon .icon {
  position: absolute;
  left: 10px; /* Ajusta esta distancia según necesites */
  color: #aaa; /* Color del ícono */
}
