<!-- <app-loader-personalizado></app-loader-personalizado> -->

  <div class="row g-4">

    <div class="col-md-2 " *ngFor="let carpeta of oficinasFiltradas; let i = index" style="width: 25%;">
      <!-- <button [ngStyle]="{'background-color': getColor(i)}">hola</button> -->
       <div class="card" (contextmenu)="mostrarMenuContextual($event,carpeta.Cod)"
       [routerLink]="['/dashboard/carpeta',carpeta.Cod]"
       [state]="{ carpeta: carpeta }"
       (click)="agregarAlaRuta(carpeta.Cod,carpeta.Nombre)">
        <div class="card-header d-flex align-items-center p-3  "[ngStyle]="{'background-color': getColor(i)}">
          <div class="busines me-2" [ngStyle]="{'background-color': getColor2(i)}">
            <mat-icon >business</mat-icon>
          </div>
          <span class="nombre">{{carpeta.Nombre}}</span>
        </div>
        <div class="card-body d-flex flex-column">
          <div class="d-flex align-items-center">
            <div class="folder me-2" [ngStyle]="{'background-color': getColor3(i), 'border-color': getColor2(i)}">
                <mat-icon  [ngStyle]="{'color': getColor(i)}">folder_open</mat-icon>
            </div>
            <span class="letra"> <span class="numero">10</span> Expedientes Activos</span>
          </div>
          <div class="d-flex align-items-center">
            <div  class="folder mt-2 me-2" [ngStyle]="{'background-color': getColor3(i), 'border-color': getColor2(i)}">
              <mat-icon [ngStyle]="{'color': getColor(i)}">description</mat-icon>
            </div>
            <span class="letra"> <span class="numero">250</span> Documentos totales</span>
          </div>
          <div class="d-flex align-items-center">
            <div  class="folder mt-2 me-2" [ngStyle]="{'background-color': getColor3(i), 'border-color': getColor2(i)}">
              <mat-icon [ngStyle]="{'color': getColor(i)}" >people</mat-icon>
            </div>
            <span class="letra"><span class="numero">10</span> Usuarios con Acceso</span>
          </div>
          <div class="ultima-modificacion mt-2 col-10">
            <span>Última modificación: Hace 2 días</span>
          </div>
          <div class="activa-desactiva mt-2 col-3 text-center">
            <span>Activa</span>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center pb-4">
          <mat-icon class="material-icons-outlined iconos me-1" style="color: #9A9BA8;">edit_outline</mat-icon>
          <mat-icon class="material-icons-outlined iconos me-1" style="color: #9A9BA8;">remove_red_eye</mat-icon>
        <mat-icon class="material-icons-outlined iconos" style="color: #9A9BA8;">settings</mat-icon>

        </div>
       </div>
    </div>

  </div>
     <!-- Menú contextual -->
     <div class="menu-contextual" *ngIf="menuVisible" [style.left.px]="menuPosX" [style.top.px]="menuPosY">
      <ul>
        <li><i class="fa-regular fa-share-from-square"></i> Compartir</li>
        <li><i class="fa-regular fa-circle-down"></i> Descargar</li>
        <li (click)="otraOpcion()"><i class="fa-regular fa-pen-to-square"></i> Cambiar Nombre</li>
        <!-- (click)="pegarCarpetaCortadaOCopiada(carpetaSeleccionada)" -->
        <li *ngIf="habilitarOpcionPegar" ><i class="fa-solid fa-paste"></i> Pegar </li>
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
          (click)="verDetalles(carpetaSeleccionada)"><i class="fa-solid fa-bars"></i> Ver detalles</li>
          <li (click)="eliminarAccion()" class="cancelar" *ngIf="hayCarpetaSeleccionada">
            <i class="fa-solid fa-circle-xmark"></i> Cancelar
          </li>
      </ul>
  </div>



  <div class="offcanvas offcanvas-end w-25" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="container">

      <div class="mt-3 d-flex justify-content-center">
        <p class="fs-4 fw-light"><i class="fa-regular fa-folder-open"></i> {{carpetaSeleccionada.CodSerie}}.
          {{carpetaSeleccionada.Nombre}}</p>
      </div>
      <hr>

      <div class="d-flex justify-content-center">
        <button class="btn btun " data-bs-dismiss="offcanvas"
          [routerLink]="['/dashboard/carpeta',carpetaSeleccionada.Cod]">
          <img class="mt-2" src="assets/imgs/carpeta-vacia.png" [alt]="carpetaSeleccionada.Nombre " width="100" height="100">
        </button>
      </div>


      <hr>

      <div class="ms-2 detalles-carpeta">
        <p>Detalles de la carpeta</p>
        <!-- <p class="subtitulo mb-0">Indice Electrónico</p>
                <div *ngIf="indiceElectronico">
                  <app-arbol-indice [indiceElectronico]="indiceElectronico"></app-arbol-indice>
                </div> -->

        <p class="subtitulo mb-0">Tipo</p>
        <p class="mt-0 subtitulo2">{{carpetaSeleccionada.NombreTipoCarpeta}}</p>

        <p *ngIf="carpetaSeleccionada.TipoCarpeta===1" class="subtitulo mb-0">Código Serie</p>
        <p *ngIf="carpetaSeleccionada.TipoCarpeta===1" class="mt-0 subtitulo2">{{carpetaSeleccionada.CodSerie}}</p>

        <p *ngIf="carpetaSeleccionada.TipoCarpeta===2" class="subtitulo mb-0">Código Subserie</p>
        <p *ngIf="carpetaSeleccionada.TipoCarpeta===2" class="mt-0 subtitulo2">{{carpetaSeleccionada.CodSubSerie}}</p>


        <p class="subtitulo mb-0">Descripción</p>
        <p class="mt-0 subtitulo2">{{carpetaSeleccionada.Descripcion}}</p>

        <p class="subtitulo mb-0">Copia</p>
        <p class="mt-0 subtitulo2">{{ carpetaSeleccionada.Copia ? 'Si es una copia' : 'No es una copia' }}</p>


        <p class="subtitulo mb-0">Fecha de Creación</p>
        <p class="mt-0 subtitulo2">{{ carpetaSeleccionada.FechaCreacion | date: 'dd/MM/yyyy' }}</p>


      </div>

    </div>
  </div>


  <!-- (click)="guardarCodigo(carpeta)" -->


          <!-- <div class="btun d-flex flex-column justify-content-between align-items-end "
        (contextmenu)="mostrarMenuContextual($event,carpeta.Cod)">

          <input
          type="checkbox"
          class="form-check-input">

         <button class="btn btun flex-grow-1 "
        [routerLink]="['/dashboard/carpeta',carpeta.Cod]"
        [state]="{ carpeta: carpeta }"
        (click)="agregarAlaRuta(carpeta.Cod)">
           <img class="" src="assets/imgs/carpeta-vacia.png" alt="carpeta" width="100" height="100">
           <h4 class="mt-2 mb-0 texto" [title]="carpeta.Nombre">{{carpeta.Nombre }}</h4>
           <span class="texto2">{{carpeta.FechaCreacion | date:'dd/MM/yyyy'}}</span>
         </button>
       </div> -->
