.contenedor::-webkit-scrollbar {
  width: 0.3em; /* Ancho de la barra de desplazamiento */
  border-radius: 5px;
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: #55cfd3b9;
  border-radius: 4px; /* Color del pulgar de la barra de desplazamiento */

}

.contenedor::-webkit-scrollbar-thumb:active {
  background-color: #1cc4cade; /* Cambia el color a tu preferencia */
}
