

<div class="container">
  <ul class="list-group list-unstyled ps-3 py-3 me-2">

    <li class="item align-content-center" routerLink="active">
      <a  class="a-tablero-inicial">
        <mat-icon class="" style="color: #475767; ">dashboard</mat-icon>
        <span class="ps-2 tablero-inicio">Tablero de inicio</span>
      </a>
    </li>

    <li class="item mt-3">
      <a class="a-tablero-inicial">
        <mat-icon style="color: #475767;">person_outline</mat-icon>
        <span class="ps-2 tablero-inicio">Perfil personal</span>
      </a>
    </li>

    <span class="mt-4 gestion-documental" style="color: #475767ae ;">Gestión Documental</span>

    <li class="item mt-3" routerLinkActive="active">
      <a class="a-tablero-inicial" routerLink="principal" (click)="borrarTodaRuta()">
        <mat-icon style="color: #475767;">workspaces</mat-icon>
        <span class="ps-2 tablero-inicio">Oficinas</span>
      </a>
    </li>

    <li class="item mt-3">
      <a class="a-tablero-inicial">
        <mat-icon style="color: #475767;">folder_open</mat-icon>
        <span class="ps-2 tablero-inicio">Expedientes</span>
      </a>
    </li>

    <!-- <li class="item mt-3" routerLinkActive="active" *ngIf="rolAdminSa()">
      <a class="a-tablero-inicial" routerLink="gestion" >
        <mat-icon>room_preferences</mat-icon>
        <span class="ps-2 tablero-inicio">Gestion administrativa</span>
      </a>
    </li> -->


    <span class="mt-4 gestion-documental" style="color: #475767ae ;">Firma y seguridad</span>

    <li class="item mt-3" routerLinkActive="active">
      <a class="a-tablero-inicial" routerLink="firma">
        <mat-icon class="material-icons-outlined" style="color: #475767;">edit_outline</mat-icon>
        <span class="ps-2 tablero-inicio">Firma electrónica</span>
      </a>
    </li>

    <li class="item mt-3">
      <a class="a-tablero-inicial">
        <mat-icon class="" style="color: #475767; width: 20%;">update</mat-icon>
        <span class="ps-2 tablero-inicio">Trazabilidad de documentos</span>
      </a>
    </li>

    <span class="mt-4 gestion-documental" style="color: #475767ae ;">Ajustes</span>

    <li class="item mt-3"  routerLinkActive="active" *ngIf="rolAdminSa()">
      <a class="a-tablero-inicial" routerLink="users">
        <mat-icon class="material-icons-outlined" style="color: #475767;">manage_accounts</mat-icon>
        <span class="ps-2 tablero-inicio">Usuarios y roles</span>
      </a>
    </li>

    <li class="item mt-3">
      <a class="a-tablero-inicial">
        <mat-icon class="material-icons-outlined" style="color: #475767;">settings</mat-icon>
        <span class="ps-2 tablero-inicio">Configuración</span>
      </a>
    </li>

    <li class="item mt-3">
      <a class="a-tablero-inicial">
        <mat-icon class="" style="color: #475767;">fact_check</mat-icon>
        <span class="ps-2 tablero-inicio">Auditoria</span>
      </a>
    </li>



    <!-- <li class="item">
      <div class="list-group">
        <a href="#item1" class="" data-bs-toggle="collapse" aria-expanded="false" (click)="setActive()">
          <img [src]="isActive ? '/assets/imgs/abajo.png' : '/assets/imgs/a-derecha.png'" alt="">
          <img src="/assets/imgs/carpeta.png" alt=""> Mis archivos
        </a>
      </div>
    </li>
    <div class="collapse" id="item1">
      <div class="list-group">
        <div *ngFor="let carpeta of carpetas; let i = index">
            <dash-tree-folder [carpeta]="carpeta"   ></dash-tree-folder>
        </div>
      </div>
    </div> -->
    <!-- *ngIf="rolAdministrador()"  -->

    <!-- <li class="item">
      <a  (click)="onLogout()">
        <img src="assets/imgs/cerrado.png" alt=""> Cerrar sesión
      </a>
    </li> -->

  </ul>
</div>



