<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-9">
      <h1 class="text-center mt-4 titulo">
        {{esModoEdicion ? 'EDITAR USUARIO': 'CREAR NUEVO USUARIO'}}
      </h1>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <!-- Nombre completo -->
        <div class="row d-flex align-items-center ">
          <div class="col-6">
            <div class="mb-3">
              <label for="nombreCompleto" class="form-label">Primer Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese su primer nombre"
                required>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="nombreCompleto" class="form-label">Segundo Nombre</label>
              <input type="text" class="form-control" placeholder="Ingrese su segundo nombre" required>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-center">
          <div class="col-6">
            <div class="mb-3">
              <label for="nombreCompleto" class="form-label">Primer Apellido</label>
              <input type="text" class="form-control" formControlName="apellido"
                placeholder="Ingrese su primer apellido" required>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="nombreCompleto" class="form-label">Segundo Apellido</label>
              <input type="text" class="form-control" placeholder="Ingrese su segundo apellido" required>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-center">
          <div class="col-6">
            <div class="mb-3 d-flex flex-column">
              <label for="nombreCompleto" class="form-label">Tipo de documento</label>
              <select name="" id="" class="form-select">
                <option value="">Cedula de ciudadania</option>
                <option value="">Tarjeta Identidad</option>
                <option value="">NIT</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <!-- Número de identificación -->
            <div class="mb-3">
              <label for="numeroIdentificacion" class="form-label">Número de identificación</label>
              <input type="text" class="form-control" formControlName="identificacion"
                placeholder="Ingrese el número de identificación" required>
            </div>
          </div>
        </div>


        <div class="row d-flex align-items-center">
          <div class="col-6">
            <div class="mb-3">
              <label for="nombreCompleto" class="form-label">Telefono</label>
              <input type="text" class="form-control" formControlName="telefono" placeholder="Ingrese telefono"
                required>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="correoElectronico" class="form-label">Usuario (NickName)</label>
              <input type="text" class="form-control" formControlName="usuario"
                placeholder="Ingrese el usuario o nickName" required>
            </div>
          </div>
        </div>

        <div class="row d-flex align-items-center">
          <div class="col-6">
            <div class="mb-3">
              <label for="contraseña" class="form-label">Contraseña</label>
              <input type="password" class="form-control" formControlName="contrasena"
                placeholder="Ingrese la contraseña" required>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="confirmacionContraseña" class="form-label">Confirmación de contraseña</label>
              <input type="password" class="form-control" formControlName="repetircontraseña"
                placeholder="Confirme la contraseña" required>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-12">
            <div class="mb-3 d-flex">
              <label class="form-label me-3">Estado Usuario</label>
              <mat-slide-toggle formControlName="estado"></mat-slide-toggle>
              <!-- <input class="form-check-input" type="checkbox" id="estadoToggle" formControlName="estado"> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label class="form-label">Asignar Rol:</label>
              <button class="btn btn-roles ms-3" type="button" (click)="abrirDialogoRoles()">ROLES</button>
            </div>
            <p *ngIf="!tieneRolesAsignados() && esModoEdicion===false" class="text-danger mt-2">Debe asignar al menos un rol
              para guardar.</p>
          </div>

        </div>



        <!-- Botones -->
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-cancelar me-2" (click)="cancelar()">CANCELAR</button>
          <button *ngIf="esModoEdicion === false" type="submit" class="btn btn-guardar"
            [disabled]="!tieneRolesAsignados()">CREAR</button>
          <button *ngIf="esModoEdicion" type="submit" class="btn btn-guardar">EDITAR</button>
        </div>
      </form>
    </div>
  </div>

</div>
