/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Para iconos outlined */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

/* Para iconos rounded */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

/* Para iconos sharp */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Sharp');

/* Para iconos two-tone */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone');
html, body { height: 100%; }
body { margin: 0; font-family: Inter;


}

html, body { height: 100%; }
body {
  margin: 0;
  font-family:  Inter;
  /* background-color: cadetblue; */
}

.custom-spinner .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic,
.custom-spinner .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle {
  stroke: #bc1c4e !important;
}
