<div class="contenedor "style="height: 90% !important; overflow-y: auto;">
  <div class=" d-flex align-items-center mt-4">
    <mat-icon class="me-2 ms-3" style="color: #465666;">local_cafe</mat-icon>
    <span class="me-2 texto-bienvenida">Bienvenido,</span>
    <span class="me-2 texto-bienvenida-negrilla">{{user()?.Nombres}}</span>
    <span class="texto-bienvenida">Aquí tiene su resumen de actividad. </span>
  </div>

  <div class="p-3 d-flex align-items-center justify-content-between contenedor-info-1 me-3 ms-3 mt-3">
    <span class="estado-general">Estado General de Documentos y Expedientes</span>

    <div class="d-flex align-items-center">
      <div class="contenedor-imagen p-2 me-3">
        <mat-icon style="color: #2E7895;">folder_special</mat-icon>
      </div>
      <div class="d-flex flex-column">
        <span class="numero-info">25</span>
        <span class="titulo-numero">Expedientes abiertos</span>
      </div>
    </div>


    <div class="d-flex align-items-center">
      <div class="contenedor-imagen p-2 me-3" style="background-color: #FFF6E5;">
        <mat-icon style="color: #FDB528;">fact_check</mat-icon>
      </div>
      <div class="d-flex flex-column">
        <span class="numero-info">10</span>
        <span class="titulo-numero">Documentos en revisión</span>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="contenedor-imagen p-2 me-3" style="background-color: #E5F8FE;">
        <mat-icon style="color: #02BDD4;">edit_road</mat-icon>
      </div>
      <div class="d-flex flex-column">
        <span class="numero-info">8</span>
        <span class="titulo-numero">Documentos requieren su firma</span>
      </div>
    </div>
  </div>


  <div class="mt-3">
    <mat-icon class="me-2 ms-3" style="color: #465666;">file_copy</mat-icon>

    <span class="texto-bienvenida">Ultimas carpetas editadas o frecuentes. </span>
  </div>

  <div class="row  ms-3 me-3 mt-3">

    <div class="col-6  align-items-center " *ngIf="carpetasFrecuentes.length === 0">
      <span class="texto-bienvenida" >No hay navegado a ninguna carpeta aún </span>
    </div>

    <div class="col-6  align-items-center  " *ngIf="carpetasFrecuentes.length > 0">

      <div class="row">

        <div class="col-6" *ngIf="carpetasFrecuentes.length >= 1">
          <div class="card-header d-flex justify-content-between align-items-center p-3 " style="cursor: pointer;"
          [routerLink]="['/dashboard/carpeta',carpetasFrecuentes[0].Cod]"
          >

            <div class="carpeta-icono d-flex align-items-center justify-content-center">
              <mat-icon style="color: #02BCD4;">folder_open</mat-icon>
            </div>
            <div class="cuarenta-archivos-contenedor d-flex align-items-center justify-content-center">
              <span class="cuarenta-archivos">40 archivos</span>
            </div>

            <div class="avatar-group">
              <div class="avatar">
                OP
              </div>
              <div class="avatar">
                OP
              </div>
              <div class="avatar">
                OP
              </div>
              <div class="avatar more">
                +3
              </div>
            </div>

          </div>
          <div class="card-body d-flex flex-column p-3" style="background-color: #00BCD4;">
            <span class="carpeta-nombre">{{carpetasFrecuentes[0].Nombre}}</span>
            <span class="modificacion mt-1">{{carpetasFrecuentes[0].Descripcion ?? 'Esta carpeta no tiene descripcion'}}</span>
            <div>
            </div>
            <div class="chip mt-3">
              <span class="chip-font text-center ">Talento Humano</span>
            </div>
          </div>
        </div>

        <div class="col-6 " *ngIf="carpetasFrecuentes.length >= 2">
          <div class="card-header d-flex justify-content-between align-items-center p-3 " style="cursor: pointer;"
          [routerLink]="['/dashboard/carpeta',carpetasFrecuentes[1].Cod]"
          >

            <div class="carpeta-icono d-flex align-items-center justify-content-center">
              <mat-icon style="color: #2E7895;">folder_open</mat-icon>
            </div>
            <div class="cuarenta-archivos-contenedor d-flex align-items-center justify-content-center">
              <span class="cuarenta-archivos" style="color: #2E7895;">40 archivos</span>
            </div>

            <div class="avatar-group">
              <div class="avatar">
                OP
              </div>
              <div class="avatar">
                OP
              </div>
              <div class="avatar">
                OP
              </div>
              <div class="avatar more">
                +3
              </div>
            </div>

          </div>
          <div class="card-body d-flex flex-column p-3" style="background-color: #2E7895;">
            <span class="carpeta-nombre">{{carpetasFrecuentes[1].Nombre}}</span>
            <span class="modificacion mt-1">{{carpetasFrecuentes[1].Descripcion ?? 'Esta carpeta no tiene descripcion'}}</span>
            <div>
            </div>
            <div class="chip mt-3">
              <span class="chip-font text-center ">Talento Humano</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6 " *ngIf="carpetasFrecuentes.length >= 3">
          <div class="card-header d-flex justify-content-between align-items-center p-3 " style="cursor: pointer;"
          [routerLink]="['/dashboard/carpeta',carpetasFrecuentes[2].Cod]"
          >

            <div class="carpeta-icono d-flex align-items-center justify-content-center">
              <mat-icon style="color: #FDB528;">folder_open</mat-icon>
            </div>
            <div class="cuarenta-archivos-contenedor d-flex align-items-center justify-content-center">
              <span class="cuarenta-archivos" style="color: #FDB528;">40 archivos</span>
            </div>

            <div class="avatar-group">
              <div class="avatar">
                OP
              </div>
              <div class="avatar">
                OP
              </div>
              <div class="avatar">
                OP
              </div>
              <div class="avatar more">
                +3
              </div>
            </div>

          </div>
          <div class="card-body d-flex flex-column p-3" style="background-color: #FDB528;">
            <span class="carpeta-nombre">{{carpetasFrecuentes[2].Nombre}}</span>
            <span class="modificacion mt-1">{{carpetasFrecuentes[2].Descripcion ?? 'Esta carpeta no tiene descripcion'}}</span>
            <div>
            </div>
            <div class="chip mt-3">
              <span class="chip-font text-center ">Talento Humano</span>
            </div>
          </div>
        </div>

        <div class="col-6" *ngIf="carpetasFrecuentes.length >= 4">
          <div class="card-header d-flex justify-content-between align-items-center p-3 " style="cursor: pointer;"
          [routerLink]="['/dashboard/carpeta',carpetasFrecuentes[3].Cod]"
          >

            <div class="carpeta-icono d-flex align-items-center justify-content-center">
              <mat-icon style="color: #51CC28;">folder_open</mat-icon>
            </div>
            <div class="cuarenta-archivos-contenedor d-flex align-items-center justify-content-center">
              <span class="cuarenta-archivos" style="color: #51CC28;">40 archivos</span>
            </div>

            <div class="avatar-group">
              <div class="avatar">
                OP
              </div>
              <div class="avatar">
                OP
              </div>
              <div class="avatar">
                OP
              </div>
              <div class="avatar more">
                +3
              </div>
            </div>

          </div>
          <div class="card-body d-flex flex-column p-3" style="background-color: #51CC28;">
            <span class="carpeta-nombre">{{carpetasFrecuentes[3].Nombre}}</span>
            <span class="modificacion mt-1">{{carpetasFrecuentes[3].Descripcion ?? 'Esta carpeta no tiene descripcion'}}</span>
            <div>
            </div>
            <div class="chip mt-3">
              <span class="chip-font text-center ">Talento Humano</span>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="col-6 contenedor-doc-reciente p-3 " *ngIf="archivosFrecuentes.length === 0">
      <span class="texto-bienvenida">Documentos recientes</span>
      <br>
      <span class="texto-bienvenida" >No hay abierto ningún archivo aún. </span>
    </div>

    <div class="col-6 contenedor-doc-reciente p-3" *ngIf="archivosFrecuentes.length > 0">
      <div class="d-flex align-items-center justify-content-between">
        <span class="texto-bienvenida">Documentos recientes</span>
        <mat-icon style="color: #667381;">more_vert</mat-icon>
      </div>

      <div class="row p-4" *ngIf="archivosFrecuentes.length >=1">
        <div class="col-4  d-flex align-items-center" style="cursor: pointer;" (click)="openVisualizador(archivosFrecuentes[0])">
          <img [src]="obtenerImagenPrevisualizacion(archivosFrecuentes[0].Formato)" class="rounded float-start" alt="doc" width="30">
          <span class="texto-reciente">{{archivosFrecuentes[0].Nombre}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center ">
          <span class="texto-reciente">{{archivosFrecuentes[0]['Tamaño']}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
          <mat-icon style="color: #667381;">more_vert</mat-icon>
        </div>
      </div>

      <div class="row p-4" *ngIf="archivosFrecuentes.length >=2">
        <div class="col-4  d-flex align-items-center" style="cursor: pointer;" (click)="openVisualizador(archivosFrecuentes[1])">
          <img [src]="obtenerImagenPrevisualizacion(archivosFrecuentes[1].Formato)" class="rounded float-start" alt="doc" width="30">
          <span class="texto-reciente">{{archivosFrecuentes[1].Nombre}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center ">
          <span class="texto-reciente">{{archivosFrecuentes[1]['Tamaño']}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
          <mat-icon style="color: #667381;">more_vert</mat-icon>
        </div>
      </div>

      <div class="row p-4" *ngIf="archivosFrecuentes.length >=3">
        <div class="col-4  d-flex align-items-center" style="cursor: pointer;" (click)="openVisualizador(archivosFrecuentes[2])">
          <img [src]="obtenerImagenPrevisualizacion(archivosFrecuentes[2].Formato)" class="rounded float-start" alt="doc" width="30">
          <span class="texto-reciente">{{archivosFrecuentes[2].Nombre}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center ">
          <span class="texto-reciente">{{archivosFrecuentes[2]['Tamaño']}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
          <mat-icon style="color: #667381;">more_vert</mat-icon>
        </div>
      </div>


      <div class="row p-4" *ngIf="archivosFrecuentes.length >=4">
        <div class="col-4  d-flex align-items-center" style="cursor: pointer;" (click)="openVisualizador(archivosFrecuentes[3])">
          <img [src]="obtenerImagenPrevisualizacion(archivosFrecuentes[3].Formato)" class="rounded float-start" alt="doc" width="30">
          <span class="texto-reciente">{{archivosFrecuentes[3].Nombre}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center ">
          <span class="texto-reciente">{{archivosFrecuentes[3]['Tamaño']}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
          <mat-icon style="color: #667381;">more_vert</mat-icon>
        </div>
      </div>


      <div class="row p-4" *ngIf="archivosFrecuentes.length >=5">
        <div class="col-4  d-flex align-items-center" style="cursor: pointer;" (click)="openVisualizador(archivosFrecuentes[4])">
          <img [src]="obtenerImagenPrevisualizacion(archivosFrecuentes[4].Formato)" class="rounded float-start" alt="doc" width="30">
          <span class="texto-reciente">{{archivosFrecuentes[4].Nombre}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center ">
          <span class="texto-reciente">{{archivosFrecuentes[4]['Tamaño']}}</span>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
          <mat-icon style="color: #667381;">more_vert</mat-icon>
        </div>
      </div>



    </div>

</div>


<div class="row ms-4 me-3 mt-3 ">
  <div class="contenedor-notificaciones col-6" style="width: 49%;">

    <div class="d-flex align-items-center justify-content-between p-3">
      <span class="notificaciones">Notificaciones</span>
      <div class="sin-leer pe-2 ps-2">
        <span class="sin-leer-texto">8 sin leer</span>
      </div>
    </div>

    <mat-divider style="border-top: 1px solid #cececf;"></mat-divider>

    <div class="d-flex align-items-center justify-content-between p-3">
      <div class="d-flex align-items-center">
        <div class="op-contenedor p-2">
          <span class="op">OP</span>
        </div>
        <span class="texto-notificacion ms-2">2 documentos están pendientes de su aprobación</span>
      </div>

      <span class="fecha">Hoy</span>
    </div>

    <mat-divider style="border-top: 1px solid #cececf;"></mat-divider>


    <div class="d-flex align-items-center justify-content-between p-3">
      <div class="d-flex align-items-center">
        <div class="op-contenedor p-2" style="background-color: #EDEDFF;">
          <span class="op" style="color: #2E7895;">ML</span>
        </div>
        <span class="texto-notificacion ms-2">Expediente de María Lopez actualizado</span>
      </div>

      <span  class="fecha">Hoy</span>
    </div>

    <mat-divider style="border-top: 1px solid #cececf;"></mat-divider>


    <div class="d-flex align-items-center justify-content-between p-3">
      <div class="d-flex align-items-center">
        <div class="op-contenedor p-2">
          <span class="op">OP</span>
        </div>
        <span class="texto-notificacion ms-2">Expediente de María Lopez actualizado</span>
      </div>

      <span class="fecha">11 Agos</span>
    </div>

    <mat-divider style="border-top: 1px solid #cececf;"></mat-divider>


  </div>

  <div class="contenedor-en-espera col-6 ms-2 " style="width: 50%;">
    <div class="d-flex flex-column">

      <div class="h-50 d-flex align-items-center mt-4">
        <div class="spinner-container ">
          <mat-progress-spinner
            class="custom-spinner"
            mode="determinate"
            value="70"
            [color]="'primary'"
            [diameter]="60">
          </mat-progress-spinner>
          <div class="icon-container">
            <mat-icon style="color: #2E7895;">phonelink</mat-icon>
          </div>
        </div>
        <div class="d-flex flex-column ms-3">
          <span>8</span>
          <span class="texto-firma">Firma de documentos en espera</span>
        </div>
      </div>

      <div class="">
        <mat-divider style="border-top: 1px solid #cececf;"></mat-divider>
      </div>


      <div class="h-50 d-flex align-items-center ">
        <div class="spinner-container ">
          <mat-progress-spinner
            class="custom-spinner"
            mode="determinate"
            value="70"

            [diameter]="60">
          </mat-progress-spinner>
          <div class="icon-container">
            <mat-icon style="color: #FDB528;">business_center</mat-icon>
          </div>
        </div>

        <div class="d-flex flex-column ms-3">
          <span>2</span>
          <span class="texto-firma">Revisión de documentos archivados</span>
        </div>
      </div>


    </div>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <span class="propiedad-intelectual">© 2025 NUBLU - Gestion Documental Inteligente</span>
    <span class="terminos">Términos y condiciones | Políticas de privacidad  Contacto: soporte&#64;nublu.com</span>
  </div>
</div>


